@import url('https://fonts.googleapis.com/css?family=Roboto:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap');

$charcoal-grey: #2c2c30;
$light-blue-grey: #c9c9cf;
$light-royal-blue: #2540ff;

#app {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $charcoal-grey;
}

input.numeric-input {
  padding: 0 0 8px;
  font-weight: bold;
  border: unset;
  border-bottom: 1px solid $light-blue-grey;

  &::placeholder {
    color: $light-blue-grey;
  }

  &:focus {
    outline: unset;
  }
}

.list {
  width: 333px;
  margin: 50px auto;
  padding: 8px 24px;

  > .list-item {
    width: 100%;
    min-height: 55px;
    padding: 16px 0;
 
    > .image {
      float: left;
      width: 55px;
      height: 55px;
      margin: -2px 0 0 -2px;
      border: 2px solid transparent;
      border-radius: 50%;

      > img {
        width: 55px;
        height: 55px;
        border-radius: 50%;
      }
    }

    > .info {
      float: left;
      width: calc(100% - 71px);
      margin-left: 14px;

      > h2 {
        margin: 4px 0 8px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1.31;
        letter-spacing: 0.8px;
        text-transform: uppercase;
      }

      span.description {
        margin-left: 9px;
      }
    }

    &:focus-within {
      > .image {
        border-color: $light-royal-blue;
      }

      > .info > h2 {
        color: $light-royal-blue; 
      }

      .numeric-input {
        caret-color: $light-royal-blue;
        border-color: $light-royal-blue;
      }
    }
  }
}